---
name: check-packages

on: [push, pull_request]

jobs:
  build-install-rpm:
    name: "Install on Fedora ${{matrix.version}}"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - version: "41"
          - version: "42"
    steps:
      - name: Checkout dangerzone repo
        uses: actions/checkout@v4
        with:
          repository: freedomofpress/dangerzone
          path: main

      - name: Checkout yum-tools-prod repo
        uses: actions/checkout@v4
        with:
          path: yum
          lfs: 'true'

      - name: update version from the package
        run: |
          rm ./yum/dangerzone/f${{ matrix.version }}/*qubes* # remove the qubes versions for now
          echo ./yum/dangerzone/f${{ matrix.version }}/dangerzone-*.src.rpm | sed 's/.*-\([^-]*\)-[^-]*\.*\.src\.rpm/\1/' > ./main/share/version.txt

      - name: mv dangerzone .rpm files
        run: |
          mkdir "./main/dist"
          mv ./yum/dangerzone/f${{ matrix.version }}/*.rpm ./main/dist/.

      - name: Build end-user environment
        working-directory: main
        run: |
          ./dev_scripts/env.py --distro fedora --version ${{ matrix.version }} build

      - name: Run a test command
        working-directory: main
        run: |
          ./dev_scripts/env.py --distro fedora --version ${{ matrix.version }} \
              run dangerzone-cli dangerzone/tests/test_docs/sample-pdf.pdf --ocr-lang eng

      - name: Check that the Dangerzone GUI imports work
        working-directory: main
        run: |
          ./dev_scripts/env.py --distro fedora --version ${{ matrix.version }} \
              run dangerzone --help
