---
name: check-packages

on: [push, pull_request]

jobs:
  check-sigs:
    runs-on: ubuntu-latest
    container:
      image: fedora:40
    steps:
      - name: Install RPM packaging dependencies
        run: yum -y update && yum -y install git git-lfs
      - uses: actions/checkout@v4
        with:
          lfs: true
      - name: Verify signatures on all RPMs
        run: |
          # git lfs install && git lfs pull
          gpg --import fpf-yum-tools-archive-keyring.gpg
          ./scripts/publish.py --verify --all

  build-install-rpm:
    name: "Install on Fedora ${{matrix.version}}"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - version: "39"
          - version: "40"
          - version: "41"
    steps:
      - name: Checkout dangerzone repo
        uses: actions/checkout@v4
        with:
          repository: freedomofpress/dangerzone
          path: main

      - name: Checkout yum-tools-prod repo
        uses: actions/checkout@v4
        with:
          path: yum
          lfs: 'true'

      - name: update version from the package
        run: |
          echo ./yum/dangerzone/f${{ matrix.version }}/dangerzone-qubes*.src.rpm | sed 's/.*-\([^-]*\)-[^-]*\.*\.src\.rpm/\1/' > ./main/share/version.txt

      - name: mv dangerzone .rpm files
        run: |
          mkdir "./main/dist"
          mv ./yum/dangerzone/f${{ matrix.version }}/*.rpm ./main/dist/.

      - name: Build end-user environment
        working-directory: main
        run: |
          ./dev_scripts/env.py --distro fedora --version ${{ matrix.version }} build

      - name: Run a test command
        working-directory: main
        run: |
          ./dev_scripts/env.py --distro fedora --version ${{ matrix.version }} \
              run dangerzone-cli dangerzone/tests/test_docs/sample-pdf.pdf

      - name: Check that the Dangerzone GUI imports work
        working-directory: main
        run: |
          ./dev_scripts/env.py --distro fedora --version ${{ matrix.version }} \
              run dangerzone --help
